# Dependencies
node_modules

# Build artifacts
.next
out
dist
build

# Environment files
.env
.env.local
.env.production
*.pem

# macOS metadata
._*
.DS_Store

# IDE
.vscode
.idea
*.swp
*.swo

# Git
.git

# Logs
*.log

# Docker
Dockerfile
.dockerignore
